:root {
  --size-300: 0.707rem;
  --size-400: 1rem;
  --size-500: 1.414rem;
  --size-600: 2rem;
  --radius: var(--size-300);
  --bg-color: #f0f2f5;
  --accent-color: #1977f2;
}

body {
  /* background: #fde68a; */
  background: var(--bg-color);
  font-size: 1.125rem;
  font-family: Georgia;
}

.wrapper {
  width: 90vw;
  width: clamp(16rem, 90vw, 70rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--size-500);
  padding-right: var(--size-500);
  position: relative;
}

header {
  background: #f9f9f9;
}

h1,
h2,
button {
  font-family: Arial;
}

button {
  border-radius: var(--radius);
  padding: var(--size-300);
  cursor: pointer;
  border: none;
}

button:active {
  color: inherit;
}

.header__button {
  background: #fde68a;
  border: 2px solid #fde68a;
}

.header__button:hover {
  background: #fef3c7;
}

.panel__button {
  background: #fff;
  border: 2px solid #fff;
}

.panel__button:hover {
  background: var(--bg-color);
}

.header__layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--size-300);
  padding-bottom: var(--size-300);
}

.header__title {
  font-size: var(--size-600);
  color: var(--accent-color);
  font-family: Lobster, cursive;
  font-weight: bold;
}

.round {
  text-align: center;
  padding: var(--size-600) var(--size-500);
}

.panel {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;

  flex-direction: column;
}

.panel__card {
  flex: 1 0 auto;
  background: #fff;
  margin: 1rem;
  padding: var(--size-600) var(--size-500);
  border-radius: var(--radius);
  text-align: center;
  line-height: 2;
}

.panel__card input {
  max-width: 12ch;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000;
  background: var(--bg-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 1ch;
  padding: 0 0.5ch;
}

.panel__card input:focus {
  /* color: var(--accent-color); */
  border: var(--accent-color);
}

.highlighted {
  font-weight: bold;
}

.highlighted.correct {
  color: var(--accent-color);
}

.highlighted.incorrect {
  color: red;
}
